/* COLORES
primario: #ff5400;
header y footer:#ffbb0021;
hover-bg:#ffbd00;
hover-c:#ff2600;
main:#f8f6f6;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", SansSerif;
}

.container {
    display: grid;
    gap: 0.5rem;
}

.container.index {
    grid-template-areas:
        "header header header"
        "main main aside"
        "main main aside"
        "main main aside"
        "footer footer footer";
}

.container.pages {
    grid-template-areas:
        "header  "
        "main  "
        "footer  ";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    align-items: center;
}

footer {
    grid-area: footer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* HEADER */

.nav {
    background-color: #ffbb0021;
    height: 80px;
    color: #000;
}

.nav__contianer {
    display: flex;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
    align-items: baseline;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav__logo--img {
    max-width: 5rem;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.nav__item,
.footer__item,
.card__title--simple {
    color: #000;
    font-size: 1.2rem;
    --clippy: polygon(1% 0, 1% 0, 0 100%, 0 100%);
}

.nav__item::after,
.footer__item::after,
.card__title--simple::after {
    content: "";
    display: block;
    background: #ff5400;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.5s;
    z-index: 10;
}

.nav__item:hover,
.footer__item:hover,
.card__title--simple:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 10;
}

.nav__input:checked+.nav__menu {
    background-color: #ffbb00;
}

.nav__label,
.nav__input {
    display: none;
}

/* MAIN INDEX */

.main__container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.main__card {
    display: flex;
    flex-direction: column;
    background-color: #ffbb0021;
    width: 100%;
    border: 2px dotted #ff5400;
    max-width: 50rem;
    max-height: 30rem;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),
        0px 2px 10px rgba(0, 0, 0, 0.12);
}

.card__title {
    font-size: 2.5rem;
    font-weight: 500;
    border-bottom: 1px dotted #ff5400;
}

.card__list {
    font-size: 1.5rem;
}

/* ASIDE */

.aside__container {
    display: flex;
    flex-direction: column;
    max-width: 13rem;
    max-height: max-content;
    margin: 1.5rem auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #96969681;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),
        0px 2px 10px rgba(0, 0, 0, 0.12);

}

.aside__title {
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px dotted #ff5400;
}

.aside__card {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #ffbb0021;
    border: 1px dotted #ff5400;
    border-radius: 1rem;
    width: 10.5rem;
    height: 10.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),
        0px 2px 10px rgba(0, 0, 0, 0.12);
}

.aside__card-img {
    max-width: 8rem;
    max-height: 8rem;
}

/* MAIN CATALOGO */
.main-pages {
    display: flex;
    flex-direction: column;
}

.main-title {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    margin: 2rem;
}

/*pagina https://www.antofernandez.com/personalizar-un-select-con-css/
se usa para que los navegadores no apliquen el estilo por defecto */

.catalogo__select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.catalogo__select select::-ms-expand {
    display: block;
}

.catalogo__select {
    max-width: 37.5rem;
    justify-content: flex-start;
    margin: 1rem;
}

.catalogo__select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    font-size: 1.3rem;
    font-family: inherit;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.catalogo__select select:hover {
    background: #ffbb0021;
}


.productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.productos__card {
    justify-content: center;
    align-items: space-between;
    width: 18.75rem;
    height: 18.75rem;
    background-color: #ffbb0021;
    border: 1px solid #ff5400;
    border-radius: 10px;
    margin: 0.625rem;
    padding: 1.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),
        0px 2px 10px rgba(0, 0, 0, 0.12);
}

.productos__card-img {
    width: 15.625rem;
    height: 12.5rem;
}

.productos__card-p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

/* MAIN MARCAS */

.slider {
    margin: auto;
    background-color: #ffbb0021;
    border: 1px dotted #ff5400;
    border-radius: 1rem;
    width: 25rem;
    margin-bottom: 2rem;
    overflow: hidden;
    /* contenedor del slider */
}

.slider>ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate ease;
}

.slider img {
    width: 100%;
}

@keyframes cambio {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* CONTACTO */
.contacto {
    display: flex;
    flex-direction: row;
}

.form__container,
.contacto__info,
.ubicacion {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
    height: 30rem;
    margin: auto;
    padding: 10px;
}

.form__title {
    display: flex;
    align-self: center;
    margin: 5px;
    padding: 10px;
    font-size: 2em;
    font-weight: 500;

}

form {
    /* Centrar el formulario en la página */

    align-self: center;
    margin: 0;
    width: 350px;
    /* Esquema del formulario */
    padding: 1em;
    background-color: #ffbb0021;
    border: 2px dashed #FF5400;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin-top: 1em;
    margin-left: 2em;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
}

input {
    font-size: 1em;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form__btn {
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 5px;
    border-style: none;
    background-color: #ffbd00;
    color: #ff2600;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.16),
        1px 5px 15px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.contacto__info--title {
    display: flex;
    align-self: center;
    margin: 15px;
    padding: 10px;
    font-size: 2em;
    font-weight: 500;
}

.contacto__info--p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.ubicacion__title {
    display: flex;
    align-self: center;
    margin: 15px;
    padding: 10px;
    font-size: 2em;
    font-weight: 500;
}

/* fin main contacto */

/* main NOSOTROS */
.main__nos {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "titulo titulo"
        "parrafo img";
}

.main__title {
    grid-area: titulo;
    justify-content: center;
}

.nos__title {
    font-style: oblique;
}

.nos__parrafo {
    grid-area: parrafo;
    max-width: 100%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2em;
    padding: 2rem;
}

.nos__parrafo p {
    margin-bottom: .9rem;
    text-indent: 2.5rem;
}

.nos__img {
    grid-area: img;
    max-width: 100%;
    margin: .5rem .2rem;
    padding: auto;

}

.nos__img img {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.16), 1px 5px 15px rgba(0, 0, 0, 0.12);
}


/* FOOTER */
.footer__container {
    display: flex;
    min-height: 100px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb0021
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__list li {
    text-decoration: none;
    margin: 0 auto;
    list-style: none;
    padding: 1rem;
    font-size: 0.9em;
}

.footer__item {
    font-size: 0.9em;
}

/* MOBILE 480 */
@media (max-width: 480px) {
    .container {
        margin-bottom: 0;
        display: grid;
        gap: 0.5rem;
    }

    .container.index {
        grid-template-areas:
            "header "
            "main "
            "main "
            "main "
            "aside"
            "footer";
    }

    .container.pages {
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /*  mobile HEADER  */
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__contianer {
        width: 100%;
    }

    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #ffbb00;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: all 1s ease-in-out;
        z-index: 10;
    }

    .nav__input:checked+.nav__menu {
        clip-path: circle(100% at center);
    }

    .nav__logo {
        font-size: 0.9rem;
    }

    .nav__logo--img {
        max-width: 2.5rem;
    }

    /*  mobile MAIN-INDEX */
    .main__title {
        font-size: 2rem;
    }

    .main__card {
        background-color: #ffbb0021;
        width: 80%;
        max-width: 40rem;
        max-height: 20rem;
        min-height: 8rem;
        margin: 1rem;
    }

    .card__title {
        font-size: 1.5rem;
    }

    .card__list {
        font-size: 1.2rem;
    }

    .card__title--simple {
        font-size: 1.2rem;
    }

    /*  mobile ASIDE-INDEX */
    .aside__container {
        display: grid;
        /* flex-direction: row; */
        max-width: 80%;
        max-height: rem;
        /* margin: 0.5rem; */
        padding: 1rem;
    }

    .aside__title {
        font-size: 1.5rem;
        justify-self: center;
    }

    .aside__card {
        margin: 0.5rem;
        padding: 0.5rem;
        width: 7.5rem;
        height: 8rem;
    }

    .aside__card-img {
        max-width: 5rem;
        max-height: 4.5rem;
    }

    /* mobile  MAIN CATALOGO */
    .catalogo {
        flex-direction: column;
    }

    .catalogo__title {
        font-size: 1.5em;
        margin: 1rem;
    }

    .catalogo__select {
        max-width: 26rem;
        margin: .5rem;
    }

    .productos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* mobile MAIN CONTACTO */
    .contacto {
        display: flex;
        flex-direction: column;
    }

    /* mobile MAIN NOSOTROS */
    .main__nos {
        grid-template-areas:
            "titulo"
            "parrafo"
            "img";
    }

    /*  mobile FOOTER */
    .footer__container {
        min-height: 100px;
        max-width: 30rem;
        padding: 0.6rem;
        margin-bottom: 0;
        display: flex;
    }

    .footer__list.footer-info {
        margin-top: 8px;
        width: 100%;
        flex-wrap: wrap;
    }

    .footer__list.footer-menu {
        display: none;
    }


}

/* MOBILE 768 */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        margin-bottom: 0;
        display: grid;
        gap: 0.5rem;
    }

    .container.index {
        grid-template-areas:
            "header header"
            "main aside"
            "main  aside"
            "main  aside"
            "footer footer";
    }

    .container.pages {
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /*  mobile HEADER  */
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__contianer {
        width: 100%;
    }

    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #ffbb00;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: all 1s ease-in-out;

    }

    .nav__input:checked+.nav__menu {
        clip-path: circle(100% at center);
    }

    .nav__logo {
        font-size: 1rem;
    }

    .nav__logo--img {
        max-width: 3rem;
    }

    /*  mobile MAIN-INDEX */
    .main__title {
        font-size: 2rem;
    }

    .main__card {
        background-color: #ffbb0021;
        width: 80%;
        max-width: 40rem;
        max-height: 20rem;
        min-height: 8rem;
        margin: 1rem;
    }

    .card__title {
        font-size: 2rem;
    }

    .card__list {
        font-size: 1.5rem;
    }

    /*  mobile ASIDE-INDEX */
    .aside__container {
        display: grid;
        max-width: 80%;
        max-height: rem;
        padding: 1rem;
    }

    .aside__title {
        font-size: 1.5rem;
        justify-self: center;
    }

    .aside__card {
        margin: 0.5rem;
        padding: 0.5rem;
        width: 7.5rem;
        height: 8rem;
    }

    .aside__card-img {
        max-width: 5rem;
        max-height: 4.5rem;
    }

    /* mobile  MAIN CATALOGO */
    .catalogo {
        flex-direction: column;
    }

    .catalogo__title {
        font-size: 1.5em;
        margin: 1rem;
    }

    .catalogo__select {
        max-width: 26rem;
        margin: .5rem;
    }

    .productos {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* mobile MAIN CONTACTO */
    .contacto {
        display: flex;
        flex-direction: column;
    }

    /* mobile MAIN NOSOTROS */
    .main__nos {
        grid-template-areas:
            "titulo"
            "parrafo"
            "img";
    }

    .nos__img img {
        margin: 0 auto;
        max-width: 48rem;
    }

    /*  mobile FOOTER */
    .footer__container {
        max-height: 100px;
        max-width: 48rem;
        padding: 0.6rem;
        margin-bottom: 0;
    }

    .footer__list {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }

    .footer__list li {
        padding: 3px;
        line-height: 0.8rem;
        margin: 0;
    }

    .footer__item {
        font-size: 1rem;
        line-height: 0.8rem;
    }
}

/* MOBILE 1200 */
@media (min-width: 769px) and (max-width: 1200px) {

    /* HEADER */
    .nav__logo {
        font-size: 1.3rem;
    }

    .nav__logo--img {
        max-width: 4rem;
    }

    .nav__menu {
        gap: 0.6rem;
    }

    .nav__item,
    .footer__item,
    .card__title--simple {
        font-size: 1.2rem;
    }

    /* MAIN INDEX */

    .main__container {
        margin-left: 0.3rem;
    }

    .main__title {
        font-size: 2rem;
    }

    /* MAIN CATALOGO */
    .main-pages {
        display: flex;
        flex-direction: column;
    }

    .main-title {
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 2rem;
    }



    .catalogo__select select {
        font-size: 1.2rem;
    }

    .productos {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* CONTACTO */
    .contacto {
        display: grid;
        grid-template-columns: 50% 50%;
    }


    /* main NOSOTROS */
    .main__nos {
        grid-template-areas:
            "titulo"
            "parrafo"
            "img";
    }

    .nos__img img {
        margin: 0 auto;
        max-width: 47rem;
    }

    /* FOOTER */
    .footer__list {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }

    .footer__list li {
        padding: 3px;
        line-height: 0.8rem;
        margin: 0;
    }

    .footer__item {
        font-size: 1rem;
        line-height: 0.8rem;
    }
}